/****************************************/
/*** CUSTOM RESETS **********************/
/****************************************/
body {
  font-family: "Roboto Mono", "Lucida Sans Typewriter", "Courier New",
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #b2b2b2;
  background-color: black;
  margin: 0;
  padding: 0;
}
div,
main,
header,
footer,
section,
article,
aside,
nav,
p,
span,
button,
input {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  letter-spacing: 0.08em;
}
h1 {
  font-size: 2.4em;
  margin-top: 0;
}

/****************************************/
/*** COLOR PALETTE **********************/
/****************************************/
/* 
#000 - black
#fff - white
#b2b2b2 - light gray
#525252 - dark gray
#b02727 - red
#191919 - button
#2a2a2a - button:hover 
*/

/****************************************/
/*** CONTAINER **************************/
/****************************************/
.container {
  margin-top: 20px;
  transition: margin-top 1.5s;
}

@media (min-width: 1000px) {
  .container {
    text-align: center;
    max-width: 1000px;
    margin: 100px auto 0;
    margin-top: 70px;
    transition: margin-top 1.5s;
  }
}

/****************************************/
/*** PLAYER INTERFACE *******************/
/****************************************/

/*** overall ****************************/
.interface {
  width: 100%;
  height: 370px;
  margin-top: 0;
  clear: right;
  background-color: #000;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  height: 100%;
}
.word,
.guess,
.won-lost {
  margin: 0 0 50px;
}
.word,
.guess,
.won-lost,
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hide {
  display: none;
}
@media (min-width: 1000px) {
  .interface {
    width: 660px;
    height: 490px;
    float: left;
    background-color: #000;
  }
  .word,
  .guess,
  .won-lost {
    margin: 0 0 80px;
  }
}

/*** hangman ****************************/
.hangman {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 1em;
  padding: 0 10px;
}
.hangman h1 {
  font-size: 1.5em;
  display: inline;
  margin-bottom: 0;
  transition: font-size 1s;
}
.hangman .missed {
  color: #525252;
}
@media (min-width: 460px) {
  .hangman h1 {
    font-size: 2em;
    transition: font-size 1s;
  }
}
@media (min-width: 600px) {
  .hangman h1 {
    font-size: 2.4em;
    transition: font-size 1s;
  }
}
@media (min-width: 1000px) {
  .hangman {
    margin-top: 0;
  }
}

/*** alphabet & definition **************/
.alphabet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 0 15px;
}
.alphabet h4 {
  margin: 0;
  padding: 5px;
}
.alphabet h4:hover {
  background-color: #191919;
  cursor: pointer;
}
.alphabet .correct {
  color: #525252;
}
.alphabet .wrong {
  color: #b02727;
}
.alphabet h4.correct:hover,
.alphabet h4.wrong:hover {
  background-color: #000;
  cursor: pointer;
}
.alphabet h4.alphabet-prevent:hover {
  background-color: #000;
  cursor: not-allowed;
}
.definition {
  text-align: center;
  margin: 0;
  max-width: 450px;
  line-height: 1.5;
}
@media (min-width: 1000px) {
  .alphabet {
    padding: 0;
  }
}

/*** buttons ****************************/
button {
  color: #b2b2b2;
  width: 240px;
  background-color: #191919;
  border: 1px solid #191919;
  padding: 7px 20px;
}
button:hover {
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  cursor: pointer;
}
.start button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.title {
  text-align: center;
}
@media (min-width: 1000px) {
  .start button {
    padding: 0;
    margin-bottom: 20px;
  }
}

/*** guess button/input ******************/
.guess form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.guess button {
  width: 160px;
  height: 70px;
  font-size: 1.7em;
  vertical-align: middle;
  border: 1px solid #191919;
}
.guess button:disabled {
  background-color: #191919;
  border: 1px solid #191919;
  cursor: not-allowed;
}
.guess input {
  width: 70px;
  height: 70px;
  font-size: 2.4em;
  color: #b2b2b2;
  text-align: center;
  vertical-align: middle;
  background-color: #000;
  border: 1px solid #525252;
  margin: 0 9px 0 0;
}
.guess input.repeat {
  border-color: #b02727;
}

/*** hint ********************************/
.hint {
  text-align: center;
  margin-bottom: 0;
  color: #525252;
}
.hint:hover {
  color: #b2b2b2;
  cursor: pointer;
}
.hint-prevent:hover {
  color: #525252;
  cursor: not-allowed;
}

/*** won/lost message ********************/
.won-lost h1 {
  font-size: 3.4em;
  text-align: center;
  margin-bottom: 0;
}
.won {
  color: #fff;
}
.lost {
  color: #b02727;
}

/*** error modal ************************/
.error-modal {
  position: relative;
  top: 60px;
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #191919;
  border: 1px solid #525252;
  box-shadow: 0 0 10px 3px #000;
}
.error-modal-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.error-modal-close {
  position: absolute;
  color: #525252;
  top: 7px;
  right: 10px;
}
.error-modal-close:hover {
  color: #2a2a2a;
  cursor: pointer;
}
